

.container {
    
    display: flex; 
    flex-wrap: wrap; 
    box-sizing: border-box;
    border: 1px solid black; 
}


.grid-row {
    display: flex; 
    width: 100%; 
}


.grid-cell {
    background-color: white;
    border: 1px solid #eee;
    box-sizing: border-box;
    flex-shrink: 0; 
}